<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702111366591-hajed498nl6i1tdumdqub8h0egvfbhik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702111366591-hajed498nl6i1tdumdqub8h0egvfbhik</string>
	<key>API_KEY</key>
	<string>AIzaSyBzuFDb2Cxsdy7C64tksAK9HWejt3m3m4I</string>
	<key>GCM_SENDER_ID</key>
	<string>702111366591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.MoneyTrackingApplication</string>
	<key>PROJECT_ID</key>
	<string>moneytrackingapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytrackingapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702111366591:ios:a696ebd4c121b1c438750a</string>
</dict>
</plist>